* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: rgb(255, 255, 255);

}

.nav {
  background-color: white;
  color: black;
  display: flex;
  align-items: stretch;
  gap:2rem;
  padding: 0 1rem;
  justify-content: center;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active{
  color: blueviolet;
}

.nav li:hover {
  color: blueviolet;
}


.main-header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}



.main-header h1{
  color: black;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 0%;
  padding-top: 0%;

}

.main-header h2{
  color: rgb(75, 26, 133);
  font-size: 3.5rem;
  text-align: center;
  margin: 0%;
  padding: 0%;


}

.main-header p{
  color: black;
  text-align: center;
  font-size: 2.5rem;
  padding: 0%;
  margin-bottom: 3rem;
}

.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  
}

.about{
  width: 50em;
}

.about h2{
  font-size: 3.5rem;
  text-align: center;
}

.about p{
  color: black;
  text-align: center;
  font-size: 1.5rem;
}

.project-title h2{
  font-size: 3.5rem;
  text-align: center;
}

.project-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.project-grid{
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(3,6rem);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  gap: 10rem;
  row-gap: 5rem;
  width: max-content;
}
.project{
  border-style: solid;
  width: fit-content;
  margin: 0%;
}


.project img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}


.project h3{
  margin-left: 1rem;
}

.project p{
  margin-left: 1rem;
}

.project button{
  margin-left: .5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.contact-form h2{
  font-size: 3.5rem;
  text-align: center;
}

.contact-form{
  width: 25%;
}

.contact-inputs input, textarea{
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.contact-inputs label{
  display: block;
}

.contact-inputs button{
  background-color: black;
  color: white;
  margin-bottom: 1rem;
  border-radius: 4px;
}

#email, #message{
  width: 100%;
}

#first-name, #last-name{
  width: 49.35%;
}

#first-name{
  margin-right: .25rem;
}

#last-name{
  margin-left: .25rem;
}
